<table summary="Last Sixteen" >
<caption>Last Sixteen</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>49</td>
<td class="l dt"><span title="26/06 16:00,201006261400">26/06 16:00</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Nelson_Mandela_Bay_Stadium">Port Elizabeth</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team"><img src="/static/uru.gif" alt="Uruguay"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team">Uruguay</a></td>
<td class="c">{{ game49 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/South_Korea_national_football_team">South Korea</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/South_Korea_national_football_team"><img src="/static/kor.gif" alt="South Korea"/></a></td>
</tr>
<tr class="even">
<td>50</td>
<td class="l dt"><span title="26/06 20:30,201006261830">26/06 20:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Royal_Bafokeng_Stadium">Rustenburg</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/United_States_men's_national_soccer_team"><img src="/static/usa.gif" alt="USA"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/United_States_men's_national_soccer_team">USA</a></td>
<td class="c">{{ game50 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Ghana_national_football_team">Ghana</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Ghana_national_football_team"><img src="/static/gha.gif" alt="Ghana"/></a></td>
</tr>
<tr class="odd">
<td>51</td>
<td class="l dt"><span title="27/06 16:00,201006271400">27/06 16:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Free_State_Stadium">Bloemfontein</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team"><img src="/static/ger.gif" alt="Germany"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team">Germany</a></td>
<td class="c">{{ game51 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/England_national_football_team">England</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/England_national_football_team"><img src="/static/eng.gif" alt="England"/></a></td>
</tr>
<tr class="even">
<td>52</td>
<td class="l dt"><span title="27/06 20:30,201006271830">27/06 20:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Soccer_City">Joburg Soccer City</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Argentina_national_football_team"><img src="/static/arg.gif" alt="Argentina"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Argentina_national_football_team">Argentina</a></td>
<td class="c">{{ game52 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Mexico_national_football_team">Mexico</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Mexico_national_football_team"><img src="/static/mex.gif" alt="Mexico"/></a></td>
</tr>
<tr class="odd">
<td>53</td>
<td class="l dt"><span title="28/06 16:00,201006281400">28/06 16:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Moses_Mabhida_Stadium">Durban</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team"><img src="/static/ned.gif" alt="Netherlands"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team">Netherlands</a></td>
<td class="c">{{ game53 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Slovakia_national_football_team">Slovakia</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Slovakia_national_football_team"><img src="/static/svk.gif" alt="Slovakia"/></a></td>
</tr>
<tr class="even">
<td>54</td>
<td class="l dt"><span title="28/06 20:30,201006281830">28/06 20:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Ellis_Park_Stadium">Joburg Ellis Park</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Brazil_national_football_team"><img src="/static/bra.gif" alt="Brazil"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Brazil_national_football_team">Brazil</a></td>
<td class="c">{{ game54 }}</td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Chile_national_football_team"><img src="/static/chi.gif" alt="Chile"/></a></td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Chile_national_football_team">Chile</a></td>
</tr>
<tr class="odd">
<td>55</td>
<td class="l dt"><span title="29/06 16:00,201006291400">29/06 16:00</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Loftus_Versfeld_Stadium">Pretoria</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Paraguay_national_football_team"><img src="/static/par.gif" alt="Paraguay"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Paraguay_national_football_team">Paraguay</a></td>
<td class="c">{{ game55 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Japan_national_football_team">Japan</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Japan_national_football_team"><img src="/static/jpn.gif" alt="Japan"/></a></td>
</tr>
<tr class="even">
<td>56</td>
<td class="l dt"><span title="29/06 20:30,201006291830">29/06 20:30</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Cape_Town_Stadium">Cape Town</a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team">Spain</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team"><img src="/static/esp.gif" alt="Spain"/></a></td>
<td class="c">{{ game56 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Portugal_national_football_team">Portugal</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Portugal_national_football_team"><img src="/static/por.gif" alt="Portugal"/></a></td>
</tr>
</tbody>
</table>
<table summary="Quarter-finals">
<caption>Quarter-finals</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>57</td>
<td class="l dt"><span title="02/07 16:00,201007021400">02/07 16:00</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Nelson_Mandela_Bay_Stadium">Port Elizabeth</a></td>
<td class="c"></td>
<td class="l home">W53</td>
<td class="c">{{ game57 }}</td>
<td class="r away">W54</td>
<td class="c"></td>
</tr>
<tr class="even">
<td>58</td>
<td class="l dt"><span title="02/07 20:30,201007021830">02/07 20:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Soccer_City">Joburg Soccer City</a></td>
<td class="c"></td>
<td class="l home">W49</td>
<td class="c">{{ game58 }}</td>
<td class="r away">W50</td>
<td class="c"></td>
</tr>
<tr class="odd">
<td>59</td>
<td class="l dt"><span title="03/07 16:00,201007031400">03/07 16:00</span></td>
<td class="l v"><a href="/worldcup/destination/cities/city=19224/index.html">Cape Town</a></td>
<td class="c"></td>
<td class="l home">W52</td>
<td class="c">{{ game59 }}</td>
<td class="r away">W51</td>
<td class="c"></td>
</tr>
<tr class="even">
<td>60</td>
<td class="l dt"><span title="03/07 20:30,201007031830">03/07 20:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Soccer_City">Joburg Soccer City</a></td>
<td class="c"></td>
<td class="l home">W55</td>
<td class="c">{{ game60 }}</td>
<td class="r away">W56</td>
<td class="c"></td>
</tr>
</tbody>
</table>
<table summary="Semi-finals" >
<caption>Semi-finals</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>61</td>
<td class="l dt"><span title="06/07 20:30,201007061830">06/07 20:30</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Cape_Town_Stadium">Cape Town</a></td>
<td class="c"></td>
<td class="l home">W58</td>
<td class="c">{{ game61 }}</td>
<td class="r away">W57</td>
<td class="c"></td>
</tr>
<tr class="even">
<td>62</td>
<td class="l dt"><span title="07/07 20:30,201007071830">07/07 20:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Moses_Mabhida_Stadium">Durban</a></td>
<td class="c"></td>
<td class="l home">W59</td>
<td class="c"><span style=
"width:100%">{{ game62 }}</td>
<td class="r away">W60</td>
<td class="c"></td>
</tr>
</tbody>
</table>
<table summary="Runners Up" >
<caption>Runners Up</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>63</td>
<td class="l dt"><span title="10/07 20:30,201007101830">10/07 20:30</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Nelson_Mandela_Bay_Stadium">Port Elizabeth</a></td>
<td class="c"></td>
<td class="l home">L61</td>
<td class="c">{{ game63 }}</td>
<td class="r away">L62</td>
<td class="c"></td>
</tr>
</tbody>
</table>
<table summary="World Cup Final" >
<caption>World Cup Final</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>64</td>
<td class="l dt"><span title="11/07 20:30,201007111830">11/07 20:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Soccer_City">Joburg Soccer City</a></td>
<td class="c"></td>
<td class="l home">W61</td>
<td class="c">{{ game64 }}</td>
<td class="r away">W62</td>
<td class="c"></td>
</tr>
</tbody>
</table>
