<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<title>{% block title %}Welcome to footypools{% endblock %}</title>
<style>
{% block style %}

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#header {
  min-height:200px; width:50%; margin-left: 25%;
	background:#FFFFFF url(/static/header.png);
	font-size: 72px;
	letter-spacing: -13px;
	text-transform: lowercase;
	color: #FFF;
}

#menu {
  width:50%; margin-left: 25%;
}

#menu ul {
	margin: 0px;
	padding: 20px 0px 0px 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: right;
	margin-left: 20px;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 1.36em;
	color: #CCCCCE;
}

div#body { width:50%; margin-left: 25%;}
table {width: 100%;font-family: Verdana,Helvetica, Arial;font-size: 11px;margin-bottom: 20px;}table caption {font-size: 14px;font-weight:bold;color:#666;text-align:left;line-height:20px;}
thead td {border-top: 4px solid #CCCCCE;border-bottom: 1px solid #CCCCCE;}

tbody tr td a{color:#000;text-decoration:none;}tbody tr td a:hover{text-decoration:underline;}tr.odd td{background:#fff;border-bottom: 1px solid #CCCCCE;}tr.even td{border-bottom: 1px solid #CCCCCE;}
td.home, td.away{width:12%;}td.l, th.l{text-align:left;}td.r, th.r{text-align:right;}th.c, td.c{text-align:center;}

input {text-align:center; border: none; background-color:#ddd;}
span.heading {font-family: Verdana,Helvetica, Arial;font-size: 11px;margin-bottom: 20px; font-size: 14px;font-weight:bold;color:#666;line-height:20px;}

{% endblock %} 
</style>
</head>
<body>
<div id='header'>world cup pools</div>
<div id='menu'>
  <ul>
    <li>{% if user %}
        <a id="login" href="{{ logout_url }}">LogOut</a>
        {% else %}
        <a id="logout" href="{{ login_url }}">Login</a>
        {% endif %}
    </li>
    <li><a href="/about/">About</a></li>  
    <li><a href="/user/">Rank</a><li>
    <li><a href="/bets/">Bets</a><li>
    <li><a href="/stats/">Stats</a><li>
    <li><a href="/">Home</a></li>
  </ul>
</div>
<div id='body'>
{% block centre %}
{% if nickname %}
<span class='heading'>{{ nickname }}</span>
{% endif %} 
<table summary="Finals" >
<caption>Finals</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>63</td>
<td class="l dt"><span title="10 July 19:30,201007101930">10 July 19:30</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Nelson_Mandela_Bay_Stadium">Port Elizabeth</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team"><img src="/static/uru.gif" alt="Uruguay"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team">Uruguay</a></td>
<td class="c">{{ game63 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team">Germany</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team"><img src="/static/ger.gif" alt="Germany"/></a></td>
</tr>
<tr class="even">
<td>64</td>
<td class="l dt"><span title="11 July 19:30,201007111930">11 July 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Soccer_City">Joburg Soccer City</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team"><img src="/static/ned.gif" alt="Netherlands"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team">Netherlands</a></td>
<td class="c">{{ game64 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team">Spain</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team"><img src="/static/esp.gif" alt="Spain"/></a></td>
</tr>
</tbody>
</table>
<form action="" method="post">
<table summary="Semi Finals" >
<caption>Semi Finals</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>61</td>
<td class="l dt"><span title="06 July 19:30,201007061930">06 July 19:30</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Cape_Town_Stadium">Cape Town</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team"><img src="/static/uru.gif" alt="Uruguay"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team">Uruguay</a></td>
<td class="c">{{ game61 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team">Netherlands</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team"><img src="/static/ned.gif" alt="Netherlands"/></a></td>
</tr>
<tr class="even">
<td>62</td>
<td class="l dt"><span title="07 July 19:30,201007061930">07 July 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Moses_Mabhida_Stadium">Durban</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team"><img src="/static/ger.gif" alt="Germany"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team">Germany</a></td>
<td class="c">{{ game62 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team">Spain</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team"><img src="/static/esp.gif" alt="Spain"/></a></td>
</tr>
</tbody>
</table>
<table summary="Quarter Finals" >
<caption>Quarter Finals</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>57</td>
<td class="l dt"><span title="02 July 15:00,201007021400">02 July 15:00</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Nelson_Mandela_Bay_Stadium">Port Elizabeth</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team"><img src="/static/ned.gif" alt="Netherlands"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team">Netherlands</a></td>
<td class="c">{{ game57 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Brazil_national_football_team">Brazil</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Brazil_national_football_team"><img src="/static/bra.gif" alt="Brazil"/></a></td>
</tr>
<tr class="even">
<td>58</td>
<td class="l dt"><span title="26 June 20:30,201006261830">26 June 20:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Ellis_Park_Stadium">Joburg Ellis Park</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team"><img src="/static/uru.gif" alt="Uruguay"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team">Uruguay</a></td>
<td class="c">{{ game58 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Ghana_national_football_team">Ghana</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Ghana_national_football_team"><img src="/static/gha.gif" alt="Ghana"/></a></td>
</tr>
<tr class="odd">
<td>59</td>
<td class="l dt"><span title="27 June 16:00,201006271400">27 June 16:00</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Cape_Town_Stadium">Cape Town</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Argentina_national_football_team"><img src="/static/arg.gif" alt="Argentina"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Argentina_national_football_team">Argentina</a></td>
<td class="c">{{ game59 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team">Germany</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team"><img src="/static/ger.gif" alt="Germany"/></a></td>
</tr>
<tr class="even">
<td>60</td>
<td class="l dt"><span title="27 June 20:30,201006271830">27 June 20:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Soccer_City">Joburg Soccer City</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Paraguay_national_football_team"><img src="/static/par.gif" alt="Paraguay"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Paraguay_national_football_team">Paraguay</a></td>
<td class="c">{{ game60 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team">Spain</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team"><img src="/static/esp.gif" alt="Spain"/></a></td>
</tr>
</tbody>
</table>
<table summary="Last Sixteen" >
<caption>Last Sixteen</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>49</td>
<td class="l dt"><span title="26 June 16:00,201006261400">26 June 16:00</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Nelson_Mandela_Bay_Stadium">Port Elizabeth</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team"><img src="/static/uru.gif" alt="Uruguay"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team">Uruguay</a></td>
<td class="c">{{ game49 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/South_Korea_national_football_team">South Korea</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/South_Korea_national_football_team"><img src="/static/kor.gif" alt="South Korea"/></a></td>
</tr>
<tr class="even">
<td>50</td>
<td class="l dt"><span title="26 June 20:30,201006261830">26 June 20:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Royal_Bafokeng_Stadium">Rustenburg</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/United_States_men's_national_soccer_team"><img src="/static/usa.gif" alt="USA"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/United_States_men's_national_soccer_team">USA</a></td>
<td class="c">{{ game50 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Ghana_national_football_team">Ghana</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Ghana_national_football_team"><img src="/static/gha.gif" alt="Ghana"/></a></td>
</tr>
<tr class="odd">
<td>51</td>
<td class="l dt"><span title="27 June 16:00,201006271400">27 June 16:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Free_State_Stadium">Bloemfontein</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team"><img src="/static/ger.gif" alt="Germany"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team">Germany</a></td>
<td class="c">{{ game51 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/England_national_football_team">England</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/England_national_football_team"><img src="/static/eng.gif" alt="England"/></a></td>
</tr>
<tr class="even">
<td>52</td>
<td class="l dt"><span title="27 June 20:30,201006271830">27 June 20:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Soccer_City">Joburg Soccer City</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Argentina_national_football_team"><img src="/static/arg.gif" alt="Argentina"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Argentina_national_football_team">Argentina</a></td>
<td class="c">{{ game52 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Mexico_national_football_team">Mexico</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Mexico_national_football_team"><img src="/static/mex.gif" alt="Mexico"/></a></td>
</tr>
<tr class="odd">
<td>53</td>
<td class="l dt"><span title="28 June 16:00,201006281400">28 June 16:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Moses_Mabhida_Stadium">Durban</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team"><img src="/static/ned.gif" alt="Netherlands"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team">Netherlands</a></td>
<td class="c">{{ game53 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Slovakia_national_football_team">Slovakia</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Slovakia_national_football_team"><img src="/static/svk.gif" alt="Slovakia"/></a></td>
</tr>
<tr class="even">
<td>54</td>
<td class="l dt"><span title="28 June 20:30,201006281830">28 June 20:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Ellis_Park_Stadium">Joburg Ellis Park</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Brazil_national_football_team"><img src="/static/bra.gif" alt="Brazil"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Brazil_national_football_team">Brazil</a></td>
<td class="c">{{ game54 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Chile_national_football_team">Chile</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Chile_national_football_team"><img src="/static/chi.gif" alt="Chile"/></a></td>
</tr>
<tr class="odd">
<td>55</td>
<td class="l dt"><span title="29 June 16:00,201006291400">29 June 16:00</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Loftus_Versfeld_Stadium">Pretoria</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Paraguay_national_football_team"><img src="/static/par.gif" alt="Paraguay"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Paraguay_national_football_team">Paraguay</a></td>
<td class="c">{{ game55 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Japan_national_football_team">Japan</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Japan_national_football_team"><img src="/static/jpn.gif" alt="Japan"/></a></td>
</tr>
<tr class="even">
<td>56</td>
<td class="l dt"><span title="29 June 20:30,201006291830">29 June 20:30</span></td>
<td class="l v"><a href="http://en.wikipedia.org/wiki/Cape_Town_Stadium">Cape Town</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team"><img src="/static/esp.gif" alt="Spain"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team">Spain</a></td>
<td class="c">{{ game56 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Portugal_national_football_team">Portugal</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Portugal_national_football_team"><img src="/static/por.gif" alt="Portugal"/></a></td>
</tr>
</tbody>
</table>

<table summary="Group A" >
<caption>Group A</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td class="l dt"><span title="11 June 16:00,201006111400">11 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Soccer_City">Joburg Soccer City</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/South_Africa_national_football_team"><img src="/static/rsa.gif" alt="South Africa"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/South_Africa_national_football_team">South Africa</a></td>
<td class="c">{{ game1 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Mexico_national_football_team">Mexico</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Mexico_national_football_team"><img src="/static/mex.gif" alt="Mexico"/></a></td>
</tr>
<tr class="even">
<td>2</td>
<td class="l dt"><span title="11 June 20:30,201006111830">11 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Cape_Town_Stadium">Cape Town</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team"><img src="/static/uru.gif" alt="Uruguay"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team">Uruguay</a></td>
<td class="c">{{ game2 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/France_national_football_team">France</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/France_national_football_team"><img src="/static/fra.gif" alt="France"/></a></td>
</tr>
<tr class="odd">
<td>17</td>
<td class="l dt"><span title="16 June 20:30,201006161830">16 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Loftus_Versfeld_Stadium">Pretoria</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/South_Africa_national_football_team"><img src="/static/rsa.gif" alt="South Africa"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/South_Africa_national_football_team">South Africa</a></td>
<td class="c">{{ game17 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team">Uruguay</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team"><img src="/static/uru.gif" alt="Uruguay"/></a></td>
</tr>
<tr class="even">
<td>18</td>
<td class="l dt"><span title="17 June 20:30,201006171830">17 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Peter_Mokaba_Stadium">Polokwane</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/France_national_football_team"><img src="/static/fra.gif" alt="France"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/France_national_football_team">France</a></td>
<td class="c">{{ game18 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Mexico_national_football_team">Mexico</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Mexico_national_football_team"><img src="/static/mex.gif" alt="Mexico"/></a></td>
</tr>
<tr class="odd">
<td>33</td>
<td class="l dt"><span title="22 June 16:00,201006221400">22 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Royal_Bafokeng_Stadium">Rustenburg</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Mexico_national_football_team"><img src="/static/mex.gif" alt="Mexico"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Mexico_national_football_team">Mexico</a></td>
<td class="c">{{ game33 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team">Uruguay</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Uruguay_national_football_team"><img src="/static/uru.gif" alt="Uruguay"/></a></td>
</tr>
<tr class="even">
<td>34</td>
<td class="l dt"><span title="22 June 16:00,201006221400">22 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Free_State_Stadium">Bloemfontein</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/France_national_football_team"><img src="/static/fra.gif" alt="France"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/France_national_football_team">France</a></td>
<td class="c">{{ game34 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/South_Africa_national_football_team">South Africa</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/South_Africa_national_football_team"><img src="/static/rsa.gif" alt="South Africa"/></a></td>
</tr>
</tbody>
</table>
<table summary="Group B">
<caption>Group B</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>3</td>
<td class="l dt"><span title="12 June 16:00,201006121400">12 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Ellis_Park_Stadium">Joburg Ellis Park</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Argentina_national_football_team"><img src="/static/arg.gif" alt="Argentina"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Argentina_national_football_team">Argentina</a></td>
<td class="c">{{ game3 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Nigeria_national_football_team">Nigeria</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Nigeria_national_football_team"><img src="/static/nga.gif" alt="Nigeria"/></a></td>
</tr>
<tr class="even">
<td>4</td>
<td class="l dt"><span title="12 June 13:30,201006121130">12 June 12:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Nelson_Mandela_Bay_Stadium">Port Elizabeth</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/South_Korea_national_football_team"><img src="/static/kor.gif" alt="South Korea"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/South_Korea_national_football_team">South Korea</a></td>
<td class="c">{{ game4 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Greece_national_football_team">Greece</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Greece_national_football_team"><img src="/static/gre.gif" alt="Greece"/></a></td>
</tr>
<tr class="odd">
<td>19</td>
<td class="l dt"><span title="17 June 16:00,201006171400">17 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Free_State_Stadium">Bloemfontein</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Greece_national_football_team"><img src="/static/gre.gif" alt="Greece"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Greece_national_football_team">Greece</a></td>
<td class="c">{{ game19 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Nigeria_national_football_team">Nigeria</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Nigeria_national_football_team"><img src="/static/nga.gif" alt="Nigeria"/></a></td>
</tr>
<tr class="even">
<td>20</td>
<td class="l dt"><span title="17 June 13:30,201006171130">17 June 12:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Soccer_City">Joburg Soccer City</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Argentina_national_football_team"><img src="/static/arg.gif" alt="Argentina"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Argentina_national_football_team">Argentina</a></td>
<td class="c">{{ game20 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/South_Korea_national_football_team">South Korea</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/South_Korea_national_football_team"><img src="/static/kor.gif" alt="South Korea"/></a></td>
</tr>
<tr class="odd">
<td>35</td>
<td class="l dt"><span title="22 June 20:30,201006221830">22 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Moses_Mabhida_Stadium">Durban</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Nigeria_national_football_team"><img src="/static/nga.gif" alt="Nigeria"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Nigeria_national_football_team">Nigeria</a></td>
<td class="c">{{ game35 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/South_Korea_national_football_team">South Korea</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/South_Korea_national_football_team"><img src="/static/kor.gif" alt="South Korea"/></a></td>
</tr>
<tr class="even">
<td>36</td>
<td class="l dt"><span title="22 June 20:30,201006221830">22 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Peter_Mokaba_Stadium">Polokwane</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Greece_national_football_team"><img src="/static/gre.gif" alt="Greece"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Greece_national_football_team">Greece</a></td>
<td class="c">{{ game36 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Argentina_national_football_team">Argentina</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Argentina_national_football_team"><img src="/static/arg.gif" alt="Argentina"/></a></td>
</tr>
</tbody>
</table>
<table summary="Group C">
<caption>Group C</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>5</td>
<td class="l dt"><span title="12 June 20:30,201006121830">12 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Royal_Bafokeng_Stadium">Rustenburg</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/England_national_football_team"><img src="/static/eng.gif" alt="England"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/England_national_football_team">England</a></td>
<td class="c">{{ game5 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/United_States_men's_national_soccer_team">USA</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/United_States_men's_national_soccer_team"><img src="/static/usa.gif" alt="USA"/></a></td>
</tr>
<tr class="even">
<td>6</td>
<td class="l dt"><span title="13 June 13:30,201006131130">13 June 12:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Peter_Mokaba_Stadium">Polokwane</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Algeria_national_soccer_team"><img src="/static/alg.gif" alt="Algeria"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Algeria_national_soccer_team">Algeria</a></td>
<td class="c">{{ game6 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Slovenia_national_football_team">Slovenia</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Slovenia_national_football_team"><img src="/static/svn.gif" alt="Slovenia"/></a></td>
</tr>
<tr class="odd">
<td>22</td>
<td class="l dt"><span title="18 June 16:00,201006181400">18 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Ellis_Park_Stadium">Joburg Ellis Park</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Slovenia_national_football_team"><img src="/static/svn.gif" alt="Slovenia"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Slovenia_national_football_team">Slovenia</a></td>
<td class="c">{{ game22 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/United_States_men's_national_soccer_team">USA</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/United_States_men's_national_soccer_team"><img src="/static/usa.gif" alt="USA"/></a></td>
</tr>
<tr class="even">
<td>23</td>
<td class="l dt"><span title="18 June 20:30,201006181830">18 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Cape_Town_Stadium">Cape Town</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/England_national_football_team"><img src="/static/eng.gif" alt="England"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/England_national_football_team">England</a></td>
<td class="c">{{ game23 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Algeria_national_soccer_team">Algeria</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Algeria_national_soccer_team"><img src="/static/alg.gif" alt="Algeria"/></a></td>
</tr>
<tr class="odd">
<td>37</td>
<td class="l dt"><span title="23 June 16:00,201006231400">23 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Nelson_Mandela_Bay_Stadium">Port Elizabeth</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Slovenia_national_football_team"><img src="/static/svn.gif" alt="Slovenia"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Slovenia_national_football_team">Slovenia</a></td>
<td class="c">{{ game37 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/England_national_football_team">England</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/England_national_football_team"><img src="/static/eng.gif" alt="England"/></a></td>
</tr>
<tr class="even">
<td>38</td>
<td class="l dt"><span title="23 June 16:00,201006231400">23 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Loftus_Versfeld_Stadium">Pretoria</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/United_States_men's_national_soccer_team"><img src="/static/usa.gif" alt="USA"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/United_States_men's_national_soccer_team">USA</a></td>
<td class="c">{{ game38 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Algeria_national_soccer_team">Algeria</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Algeria_national_soccer_team"><img src="/static/alg.gif" alt="Algeria"/></a></td>
</tr>
</tbody>
</table>
<table summary="Group D" >
<caption>Group D</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>7</td>
<td class="l dt"><span title="13 June 20:30,201006131830">13 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Moses_Mabhida_Stadium">Durban</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team"><img src="/static/ger.gif" alt="Germany"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team">Germany</a></td>
<td class="c">{{ game7 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Australia_national_football_team">Australia</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Australia_national_football_team"><img src="/static/aus.gif" alt="Australia"/></a></td>
</tr>
<tr class="even">
<td>8</td>
<td class="l dt"><span title="13 June 16:00,201006131400">13 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Loftus_Versfeld_Stadium">Pretoria</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Serbia_national_football_team"><img src="/static/srb.gif" alt="Serbia"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Serbia_national_football_team">Serbia</a></td>
<td class="c">{{ game8 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Ghana_national_football_team">Ghana</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Ghana_national_football_team"><img src="/static/gha.gif" alt="Ghana"/></a></td>
</tr>
<tr class="odd">
<td>21</td>
<td class="l dt"><span title="18 June 13:30,201006181130">18 June 12:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Nelson_Mandela_Bay_Stadium">Port Elizabeth</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team"><img src="/static/ger.gif" alt="Germany"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team">Germany</a></td>
<td class="c">{{ game21 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Serbia_national_football_team">Serbia</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Serbia_national_football_team"><img src="/static/srb.gif" alt="Serbia"/></a></td>
</tr>
<tr class="even">
<td>24</td>
<td class="l dt"><span title="19 June 16:00,201006191400">19 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Royal_Bafokeng_Stadium">Rustenburg</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Ghana_national_football_team"><img src="/static/gha.gif" alt="Ghana"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Ghana_national_football_team">Ghana</a></td>
<td class="c">{{ game24 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Australia_national_football_team">Australia</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Australia_national_football_team"><img src="/static/aus.gif" alt="Australia"/></a></td>
</tr>
<tr class="odd">
<td>39</td>
<td class="l dt"><span title="23 June 20:30,201006231830">23 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Soccer_City">Joburg Soccer City</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Ghana_national_football_team"><img src="/static/gha.gif" alt="Ghana"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Ghana_national_football_team">Ghana</a></td>
<td class="c">{{ game39 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team">Germany</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Germany_national_football_team"><img src="/static/ger.gif" alt="Germany"/></a></td>
</tr>
<tr class="even">
<td>40</td>
<td class="l dt"><span title="23 June 20:30,201006231830">23 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Mbombela_Stadium">Nelspruit</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Australia_national_football_team"><img src="/static/aus.gif" alt="Australia"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Australia_national_football_team">Australia</a></td>
<td class="c">{{ game40 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Serbia_national_football_team">Serbia</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Serbia_national_football_team"><img src="/static/srb.gif" alt="Serbia"/></a></td>
</tr>
</tbody>
</table>
<table summary="Group E" >
<caption>Group E</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>9</td>
<td class="l dt"><span title="14 June 13:30,201006141130">14 June 12:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Soccer_City">Joburg Soccer City</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team"><img src="/static/ned.gif" alt="Netherlands"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team">Netherlands</a></td>
<td class="c">{{ game9 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Denmark_national_football_team">Denmark</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Denmark_national_football_team"><img src="/static/den.gif" alt="Denmark"/></a></td>
</tr>
<tr class="even">
<td>10</td>
<td class="l dt"><span title="14 June 16:00,201006141400">14 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Free_State_Stadium">Bloemfontein</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Japan_national_football_team"><img src="/static/jpn.gif" alt="Japan"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Japan_national_football_team">Japan</a></td>
<td class="c">{{ game10 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Cameroon_national_football_team">Cameroon</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Cameroon_national_football_team"><img src="/static/cmr.gif" alt="Cameroon"/></a></td>
</tr>
<tr class="odd">
<td>25</td>
<td class="l dt"><span title="19 June 13:30,201006191130">19 June 12:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Moses_Mabhida_Stadium">Durban</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team"><img src="/static/ned.gif" alt="Netherlands"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team">Netherlands</a></td>
<td class="c">{{ game25 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Japan_national_football_team">Japan</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Japan_national_football_team"><img src="/static/jpn.gif" alt="Japan"/></a></td>
</tr>
<tr class="even">
<td>26</td>
<td class="l dt"><span title="19 June 20:30,201006191830">19 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Loftus_Versfeld_Stadium">Pretoria</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Cameroon_national_football_team"><img src="/static/cmr.gif" alt="Cameroon"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Cameroon_national_football_team">Cameroon</a></td>
<td class="c">{{ game26 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Denmark_national_football_team">Denmark</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Denmark_national_football_team"><img src="/static/den.gif" alt="Denmark"/></a></td>
</tr>
<tr class="odd">
<td>43</td>
<td class="l dt"><span title="24 June 20:30,201006241830">24 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Royal_Bafokeng_Stadium">Rustenburg</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Denmark_national_football_team"><img src="/static/den.gif" alt="Denmark"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Denmark_national_football_team">Denmark</a></td>
<td class="c">{{ game43 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Japan_national_football_team">Japan</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Japan_national_football_team"><img src="/static/jpn.gif" alt="Japan"/></a></td>
</tr>
<tr class="even">
<td>44</td>
<td class="l dt"><span title="24 June 20:30,201006241830">24 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Cape_Town_Stadium">Cape
Town</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Cameroon_national_football_team"><img src="/static/cmr.gif" alt="Cameroon"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Cameroon_national_football_team">Cameroon</a></td>
<td class="c">{{ game44 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team">Netherlands</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Netherlands_national_football_team"><img src="/static/ned.gif" alt="Netherlands"/></a></td>
</tr>
</tbody>
</table>
<table summary="Group F" >
<caption>Group F</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>11</td>
<td class="l dt"><span title="14 June 20:30,201006141830">14 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Cape_Town_Stadium">Cape
Town</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Italy_national_football_team"><img src="/static/ita.gif" alt="Italy"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Italy_national_football_team">Italy</a></td>
<td class="c">{{ game11 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Paraguay_national_football_team">Paraguay</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Paraguay_national_football_team"><img src="/static/par.gif" alt="Paraguay"/></a></td>
</tr>
<tr class="even">
<td>12</td>
<td class="l dt"><span title="15 June 13:30,201006151130">15 June 12:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Royal_Bafokeng_Stadium">Rustenburg</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/New_Zealand_national_football_team"><img src="/static/nzl.gif" alt="New Zealand"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/New_Zealand_national_football_team">New Zealand</a></td>
<td class="c">{{ game12 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Slovakia_national_football_team">Slovakia</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Slovakia_national_football_team"><img src="/static/svk.gif" alt="Slovakia"/></a></td>
</tr>
<tr class="odd">
<td>27</td>
<td class="l dt"><span title="20 June 13:30,201006201130">20 June 12:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Free_State_Stadium">Bloemfontein</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Slovakia_national_football_team"><img src="/static/svk.gif" alt="Slovakia"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Slovakia_national_football_team">Slovakia</a></td>
<td class="c">{{ game27 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Paraguay_national_football_team">Paraguay</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Paraguay_national_football_team"><img src="/static/par.gif" alt="Paraguay"/></a></td>
</tr>
<tr class="even">
<td>28</td>
<td class="l dt"><span title="20 June 16:00,201006201400">20 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Mbombela_Stadium">Nelspruit</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Italy_national_football_team"><img src="/static/ita.gif" alt="Italy"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Italy_national_football_team">Italy</a></td>
<td class="c">{{ game28 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/New_Zealand_national_football_team">New Zealand</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/New_Zealand_national_football_team"><img src="/static/nzl.gif" alt="New Zealand"/></a></td>
</tr>
<tr class="odd">
<td>41</td>
<td class="l dt"><span title="24 June 16:00,201006241400">24 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Ellis_Park_Stadium">Joburg Ellis Park</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Slovakia_national_football_team"><img src="/static/svk.gif" alt="Slovakia"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Slovakia_national_football_team">Slovakia</a></td>
<td class="c">{{ game41 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Italy_national_football_team">Italy</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Italy_national_football_team"><img src="/static/ita.gif" alt="Italy"/></a></td>
</tr>
<tr class="even">
<td>42</td>
<td class="l dt"><span title="24 June 16:00,201006241400">24 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Peter_Mokaba_Stadium">Polokwane</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Paraguay_national_football_team"><img src="/static/par.gif" alt="Paraguay"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Paraguay_national_football_team">Paraguay</a></td>
<td class="c">{{ game42 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/New_Zealand_national_football_team">New Zealand</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/New_Zealand_national_football_team"><img src="/static/nzl.gif" alt="New Zealand"/></a></td>
</tr>
</tbody>
</table>
<table summary="Group G" >
<caption>Group G</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>13</td>
<td class="l dt"><span title="15 June 16:00,201006151400">15 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Nelson_Mandela_Bay_Stadium">Port Elizabeth</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Ivory_Coast_national_football_team"><img src="/static/civ.gif" alt="Ivory Coast"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Ivory_Coast_national_football_team">Ivory Coast</a></td>
<td class="c">{{ game13 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Portugal_national_football_team">Portugal</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Portugal_national_football_team"><img src="/static/por.gif" alt="Portugal"/></a></td>
</tr>
<tr class="even">
<td>14</td>
<td class="l dt"><span title="15 June 20:30,201006151830">15 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Ellis_Park_Stadium">Joburg Ellis Park</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Brazil_national_football_team"><img src="/static/bra.gif" alt="Brazil"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Brazil_national_football_team">Brazil</a></td>
<td class="c">{{ game14 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Korea_DPR_national_football_team">Korea DPR</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Korea_DPR_national_football_team"><img src="/static/prk.gif" alt="Korea DPR"/></a></td>
</tr>
<tr class="odd">
<td>29</td>
<td class="l dt"><span title="20 June 20:30,201006201830">20 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Soccer_City">Joburg Soccer City</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Brazil_national_football_team"><img src="/static/bra.gif" alt="Brazil"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Brazil_national_football_team">Brazil</a></td>
<td class="c">{{ game29 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Ivory_Coast_national_football_team">Ivory Coast</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Ivory_Coast_national_football_team"><img src="/static/civ.gif" alt="Ivory Coast"/></a></td>
</tr>
<tr class="even">
<td>30</td>
<td class="l dt"><span title="21 June 13:30,201006211130">21 June 12:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Cape_Town_Stadium">Cape Town</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Portugal_national_football_team"><img src="/static/por.gif" alt="Portugal"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Portugal_national_football_team">Portugal</a></td>
<td class="c">{{ game30 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Korea_DPR_national_football_team">Korea DPR</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Korea_DPR_national_football_team"><img src="/static/prk.gif" alt="Korea DPR"/></a></td>
</tr>
<tr class="odd">
<td>45</td>
<td class="l dt"><span title="25 June 16:00,201006251400">25 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Moses_Mabhida_Stadium">Durban</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Portugal_national_football_team"><img src="/static/por.gif" alt="Portugal"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Portugal_national_football_team">Portugal</a></td>
<td class="c">{{ game45 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Brazil_national_football_team">Brazil</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Brazil_national_football_team"><img src="/static/bra.gif" alt="Brazil"/></a></td>
</tr>
<tr class="even">
<td>46</td>
<td class="l dt"><span title="25 June 16:00,201006251400">25 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Mbombela_Stadium">Nelspruit</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Korea_DPR_national_football_team"><img src="/static/prk.gif" alt="Korea DPR"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Korea_DPR_national_football_team">Korea DPR</a></td>
<td class="c">{{ game46 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Ivory_Coast_national_football_team">Ivory Coast</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Ivory_Coast_national_football_team"><img src="/static/civ.gif" alt="Ivory Coast"/></a></td>
</tr>
</tbody>
</table>
<table summary="Group H" >
<caption>Group H</caption>
<thead>
<tr>
<td class="c">Match</td>
<td class="l">Date - Time</td>
<td class="l">Venue</td>
<td class="c img"></td>
<td class="l" ></td>
<td class="c">Results</td>
<td class="r"></td>
<td class="r img"></td>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>15</td>
<td class="l dt"><span title="16 June 13:30,201006161130">16 June 12:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Mbombela_Stadium">Nelspruit</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Honduras_national_football_team"><img src="/static/hon.gif" alt="Honduras"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Honduras_national_football_team">Honduras</a></td>
<td class="c">{{ game15 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Chile_national_football_team">Chile</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Chile_national_football_team"><img src="/static/chi.gif" alt="Chile"/></a></td>
</tr>
<tr class="even">
<td>16</td>
<td class="l dt"><span title="16 June 16:00,201006161400">16 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Moses_Mabhida_Stadium">Durban</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team"><img src="/static/esp.gif" alt="Spain"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team">Spain</a></td>
<td class="c">{{ game16 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Switzerland_national_football_team">Switzerland</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Switzerland_national_football_team"><img src="/static/sui.gif" alt="Switzerland"/></a></td>
</tr>
<tr class="odd">
<td>31</td>
<td class="l dt"><span title="21 June 16:00,201006211400">21 June 15:00</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Nelson_Mandela_Bay_Stadium">Port Elizabeth</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Chile_national_football_team"><img src="/static/chi.gif" alt="Chile"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Chile_national_football_team">Chile</a></td>
<td class="c">{{ game31 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Switzerland_national_football_team">Switzerland</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Switzerland_national_football_team"><img src="/static/sui.gif" alt="Switzerland"/></a></td>
</tr>
<tr class="even">
<td>32</td>
<td class="l dt"><span title="21 June 20:30,201006211830">21 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Ellis_Park_Stadium">Joburg Ellis Park</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team"><img src="/static/esp.gif" alt="Spain"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team">Spain</a></td>
<td class="c">{{ game32 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Honduras_national_football_team">Honduras</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Honduras_national_football_team"><img src="/static/hon.gif" alt="Honduras"/></a></td>
</tr>
<tr class="odd">
<td>47</td>
<td class="l dt"><span title="25 June 20:30,201006251830">25 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Loftus_Versfeld_Stadium">Pretoria</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Chile_national_football_team"><img src="/static/chi.gif" alt="Chile"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Chile_national_football_team">Chile</a></td>
<td class="c">{{ game47 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team">Spain</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Spain_national_football_team"><img src="/static/esp.gif" alt="Spain"/></a></td>
</tr>
<tr class="even">
<td>48</td>
<td class="l dt"><span title="25 June 20:30,201006251830">25 June 19:30</span></td>
<td class="l v" ><a href="http://en.wikipedia.org/wiki/Free_State_Stadium">Bloemfontein</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Switzerland_national_football_team"><img src="/static/sui.gif" alt="Switzerland"/></a></td>
<td class="l home"><a href="http://en.wikipedia.org/wiki/Switzerland_national_football_team">Switzerland</a></td>
<td class="c">{{ game48 }}</td>
<td class="r away"><a href="http://en.wikipedia.org/wiki/Honduras_national_football_team">Honduras</a></td>
<td class="c"><a href="http://en.wikipedia.org/wiki/Honduras_national_football_team"><img src="/static/hon.gif" alt="Honduras"/></a></td>
</tr>
</tbody>
</table>
</form>
</div>
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript"><!--
function validateNumber(event) {
    var key = window.event ? event.keyCode : event.which;

    if (event.keyCode == 8 || event.keyCode == 46
     || event.keyCode == 37 || event.keyCode == 39) {
        return true;
    }
    else if ( key < 48 || key > 57 ) {
        return false;
    }
    else return true;
};

function ajax(u,s,t) {
  var query="";
  for(i=0; i<s.length; i++) { if(i>0) query=query+"&";
     query=query+encodeURIComponent(s[i])+"="+encodeURIComponent(document.getElementById(s[i]).value);
  }
  $.ajax({type: "POST", url: u, data: query, success: function(msg) { 

      eval('data = ' + msg);
      alert(data);

    } 
  });  
} 

$("input").change(function () {

  var u = '/'+this.name+'/'+this.value+'/';
  var query = '';

  $.ajax({type: "POST", url: u, data: query, success: function(msg) { 

      eval('data = ' + msg);
      alert(data);

    } 
  });  

});

$("input").keypress(validateNumber);

$(function(){
	var tabindex = 1;
	$('input,select').each(function() {
		if (this.type != "hidden") {
			var $input = $(this);
			$input.attr("tabindex", tabindex);
			tabindex++;
		}
	});
});

function init()
{

}
-->
</script>
{% endblock %}
</body>
</html>
