{% extends 'base.html' %}
{% block title %}About footypools{% endblock %}

{% block style %}
#header { min-height:200px; width:50%; margin-left: 25%; background:#FFFFFF url(/static/header.png); 
          font-size: 72px;	letter-spacing: -13px; text-transform: lowercase; color: #FFF; }

#menu { width:50%; margin-left: 25%; }
#menu ul { margin: 0px;	padding: 20px 0px 0px 0px; list-style: none; }
#menu li { display: inline; }
#menu a {	display: block;	float: right;	margin-left: 20px; text-decoration: none; text-transform: lowercase; font-size: 1.36em;	color: #CCCCCE; }

div#body { width:50%; margin-left: 25%;}
table {width: 100%; font-family: Verdana,Helvetica, Arial;font-size: 11px;margin-bottom: 20px;}table caption {font-size: 14px;font-weight:bold;color:#666;text-align:left;line-height:20px;}
thead td {border-top: 4px solid #CCCCCE;border-bottom: 1px solid #CCCCCE;}
td.l, th.l{text-align:left;}td.r, th.r{text-align:right;}th.c, td.c{text-align:center;}

.faq {font-family: Verdana,Helvetica, Arial;font-size: 11px;}
input {text-align:left; border: none; background-color:#ddd;}

p.heading  {font-family: Verdana,Helvetica, Arial;font-size: 11px;margin-bottom: 20px; font-size: 14px;font-weight:bold;color:#666;line-height:20px;}

a {text-decoration: none;}

{% endblock %}

{% block centre %}
<div style="height: 20px"></div>
<p class='heading'>Welcome to footypools.  Fantasy League Football 'Lite'.</p>
<div class='faq'>
<p style='font-size: 12px'>This web application is hosted free on the Google App Engine.  Thank you Google!</p>

<p>Some statistics</p>
<ul>
<li>Home {{ home }}
  <ul>
    {% for item in homes.items %}
       {% for value in item %} {{ value }}{% endfor %}<br>
    {% endfor %}
  </ul>
</li>
<li>Draws {{ draw }}
  <ul>
    {% for item in draws.items %}
       {% for value in item %} {{ value }}{% endfor %}<br>
    {% endfor %}
  </ul>
</li>
<li>Away {{ away }}
  <ul>
    {% for item in aways.items %}
       {% for value in item %} {{ value }}{% endfor %}<br>
    {% endfor %}
  </ul>
</li>
</ul>
<p class='heading'>Good Luck from <a href='mailto:hollerith+nospam@gmail.com'>FootyPools</a></p>
<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
</div>
{% endblock %}      

