{% extends 'base.html' %}
{% block title %}footypools User Statistics{% endblock %}
{% block style %}
#header { min-height:200px; width:50%; margin-left: 25%; background:#FFFFFF url(/static/header.png); 
          font-size: 72px;	letter-spacing: -13px; text-transform: lowercase; color: #FFF; }

#menu { width:50%; margin-left: 25%; }
#menu ul { margin: 0px;	padding: 20px 0px 0px 0px; list-style: none; }
#menu li { display: inline; }
#menu a {	display: block;	float: right;	margin-left: 20px; text-decoration: none; text-transform: lowercase; font-size: 1.36em;	color: #CCCCCE; }

div#body { width:50%; margin-left: 25%;}
table {width: 100%; font-family: Verdana,Helvetica, Arial;font-size: 11px;margin-bottom: 20px;}table caption {font-size: 14px;font-weight:bold;color:#666;text-align:left;line-height:20px;}
thead td {border-top: 4px solid #CCCCCE;border-bottom: 1px solid #CCCCCE;}
td.l, th.l{text-align:left;}td.r, th.r{text-align:right;}th.c, td.c{text-align:center;}

td.u{font-weight:bold;color:#666;}

input {text-align:left; border: none; background-color:#ddd;}

p.heading {font-family: Verdana,Helvetica, Arial;font-size: 11px;margin-bottom: 20px; font-size: 14px;font-weight:bold;color:#666;line-height:20px;}
a {text-decoration: none; color:#666}
{% endblock %}

{% block centre %}
{% if nickname %}
<table summary="Rankings" >
<caption>Rankings - {{ league }} </caption>
<thead>
<tr>
<td class="c">User</td>
<td class="c">Wins</td>
<td class="c">Goals</td>
<td class="c">Points</td>
</tr>
</thead>
<tbody>
{% for player in players %}
<tr class="odd">
<td class="l {% ifequal nickname player.nickname %}u{% endifequal %}"><span><a href='/?nickname={{ player.nickname }}'>{{ player.nickname }}</a></span></td>
<td class="c"><span>{{ player.wins }}</span></td>
<td class="c"><span>{{ player.goals }}</span></td>
<td class="c"><span>{{ player.points }}</span></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
<div style="height:50px"></div> <!--space-->
<div id="userdiv" class="dialog" style="position:absolute;background:white;border:2px dashed #CCCCCE;width:49%;height:80px">
  <div id="user-main">
    <form id='saveuser' action="" method="post">
    <table summary="Join" >
    <caption>Pick a nickname and join a league (or make up your own)</caption>
    <thead>
    <tbody>
    <tr class="odd">
    <td class="l"><span>Nickname</span></td>
    <td class="l"><span><input type='text' id='nickname' name='nickname' value='{{ nickname }}' /></span></td>
    <td class="l"><span>League</span></td>
    <td class="l"><span><input type='text' id='league' name='league' value='{{ league }}' /></span></td>
    </tr>
    <tr class="odd">
    <td class="c" colspan="5"><p id='nickerrs' class='heading' style='display:none;'>Sorry - that name has already been nicked</p></td>
    </tr>
    </tbody>
    </table>
    </form>
  </div>
</div> <!--userdiv-->
<script type="text/javascript" src="/static/jquery.min.js"></script>
<script type="text/javascript"><!--
function saveuser() {
  var query = "";
  s = ['nickname', 'league']
  for(i=0; i<s.length; i++) { if(i>0) query=query+"&";
     query=query+encodeURIComponent(s[i])+"="+encodeURIComponent(document.getElementById(s[i]).value);
  }

  $.ajax({type: "POST", url: '/user/', data: query, success: function(msg) { 
      errmsg = document.getElementById('nickerrs')
      errmsg.style.display = 'none';
      if (msg == 'Nickname nicked already') {
         errmsg.style.display = 'block';
         $("#nickname").focus();
      }
      if (msg == 'Enter a league or start your own') {
         errmsg.style.display = 'block';
         $("#league").focus();
      }
    } 
  });  
}

$("#nickname").change(function () {
  saveuser();  
});

$("#league").change(function () {
  saveuser();
  location.reload(true);
});

-->
</script>
{% endblock %} 

